---
layout: default
---

<article class="contents page">
  <div class="container-fluid">
    <div class="tenpxsp"></div>
    <div class="row">
      <div class="col-1 bg-success text-white"></div>
      <div class="col-11 basebg text-white topcolumn">
        <p ><span class="h1">{{ page.title }}</span></p>
        <p>Issued on {{ page.date | date: '%B %d, %Y' }}</p>
      </div>
    </div>


      {{ content }}


    <!--page__body-->

    <!-- 前後のページへのリンクを表示したい -->
    <div class="pager">

      {% if page.next %}
        <p class="pager__item--next">
          <a href="{{ page.next.url | relative_url }}">&lt; {{ page.next.title }}</a>
        </p>
      {% endif %}

      {% if page.previous %}
        <p class="pager__item--prev">
          <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &gt;</a>
        </p>
      {% endif %}

    </div><!--pager-->
    
  </div><!--container-->
</article><!--page-->