---
layout: default
---
{% if post %}
  {% assign date = post.date %}
  {% assign tags = post.tags %}
{% else %}
  {% assign date = page.date %}
  {% assign tags = page.tags %}
{% endif %}
<article class="contents page">
  <div class="container-fluid">
    <div class="tenpxsp"></div>
    <div class="row">
      <div class="col-1 bg-info text-white"></div>
      <div class="col-11 basebg text-white topcolumn">
        <p ><span class="h1">{{ page.title }}</span></p>
        <p>Issued on {{ page.date | date: '%B %d, %Y' }}</p>
        <p>Author: {{ page.author }}</p>
        <div
        class="post-tags text-white">
        Tags: 
        {% for tag in tags %}
          <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}" class="text-white">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
    </div>
  <div class="container-fluid">
        



      {{ content }}


    </div><!--page__body-->

    <!-- 前後のページへのリンクを表示したい -->

    <div class="row">
      <div class="col-10">
      {% if page.next %}
        <p class="pager__item--next">
          <a href="{{ page.next.url | relative_url }}">&lt; {{ page.next.title }}</a>
        </p>
      {% endif %}
      </div>
      <div class="col-2">
      {% if page.previous %}
        <p class="pager__item--prev text-right">
          <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &gt;</a>
        </p>
      {% endif %}
    </div>
    </div>
  </div><!--container-->
</article><!--page-->